body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#container {
  width: 95%;
  margin: auto;
  border: 3px solid #cecece;
  height: 580px;
  margin-top: 30px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#left {
  width: 30%;
  padding: 30px;
  text-align: center;
}

#right {
  width: 50%;
  padding: 20px;
  text-align: center;
  margin: 30px;
}

#selectedOptions {
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 300px;
  overflow: scroll;
}

.example::-webkit-scrollbar {
  display: none;
}

table {
  font-size: 18px;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

thead {
  background-color: rgba(235, 208, 55, 0.783);
  color: black;
  font-size: 22px;
}

td,
tr,
th {
  border: 1px solid black;
  text-align: center;
}

#label,
#value {
  text-align: left;
  padding-left: 20px;
}
